<a href="https://colab.research.google.com/github/SeanReich/Sean-Repository/blob/main/3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

In [4]:
for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [5]:
for value in grades.values():
  print(value)

91
88
93
90

In [6]:
for key, value in grades.items():
  print(f'key: {key}, Value: {value}')

key: Alice, Value: 91
key: Bob, Value: 88
key: Tracy, Value: 93
key: Erik, Value: 90

In [21]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for num in numbers:
  months[num] = names[num - 1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}